body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#121212;
    color:white;
    text-align:center;
}

header{
    padding:20px;
    background:#1db954;
}

input{
    padding:10px;
    width:60%;
    border-radius:20px;
    border:none;
    margin-top:10px;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    padding:15px;
}

nav button{
    background:#282828;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:20px;
    cursor:pointer;
}

.song{
    background:#181818;
    margin:10px auto;
    padding:15px;
    border-radius:10px;
    width:90%;
    max-width:600px;
}
